$icomoon-font-path: "../../default/fonts" !default;

$q_bondsco_alt: "\e912";
$q_bondsco: "\e913";
$q_secure: "\1f512";
$q_gift: "\1f381";
$q_scooter: "\1f680";
$q_van: "\1f69a";
$q_cart-empty: "\25ce";
$q_cart-full: "\25c9";
$q_sign-in: "\1f438";
$q_cross: "\2613";
$q_checkmark: "\2714";
$q_minus: "\2796";
$q_plus: "\2795";
$q_arrow-left: "\25c0";
$q_arrow-down: "\25bc";
$q_arrow-up: "\25b2";
$q_arrow-right: "\25ba";
$q_instagram: "\69";
$q_twitter: "\74";
$q_facebook: "\66";
$q_pinterest-p: "\70";
$q_envelope: "\1f4e7";
$q_location: "\1f4cd";
$q_target: "\1f3af";
$q_paypal-alt: "\e906";
$q_mastercard: "\e905";
$q_amex: "\e903";
$q_visa: "\e904";
$q_visa-checkout-alt: "\e907";
$q_paypal: "\e90a";
$q_afterpay-logo: "\e902";
$q_visa-checkout: "\e908";
$q_afterpay-text: "\e901";
$q_auspost: "\1f4ee";
$q_locker: "\1f510";
$q_click-collect: "\1f34d";
$q_bonds: "\e62b";
$q_bondsb: "\1f355";
$q_berlei: "\e900";
$q_berleib: "\e911";
$q_sheridan: "\e90b";
$q_sheridans: "\53";
$q_champion: "\e909";
$q_champion-red: "\e90d";
$q_jockey: "\e90e";
$q_jockeyicon: "\e90c";
$q_bondsoutlet: "\e90f";
$q_playtex: "\e910";
$q_bin: "\1f5d1";
$q_exclamation-triangle: "\e916";
$q_heart-o: "\2661";
$q_heart: "\2665";
$q_star-half-empty: "\e914";
$q_star-half-full: "\e914";
$q_star-half-o: "\e914";
$q_star-o: "\2606";
$q_star: "\2605";
$q_plane: "\e915";

$q_store: $q_bondsco_alt !default;
$q_store_small: $q_bondsco !default;